body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.container {
    max-width: 100%;
    background-color: wheat;
}


.image {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: auto wheat;
    margin-top: 70px;
}

.topnav {
    background-color: wheat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
.topnav a {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: Luxurious Roman, monospace;
    color: black;
    padding: 14px 16px;
    border-radius: 15px;
    flex-wrap: nowrap;
}


.topnav a:hover {
    background-color: brown;
    color: white;
}


h1 {
    margin: 50px;
}

.intro{
    margin: 50px;
    font-family: Luxurious Roman, monospace;
    font-size: 20pt;
    text-align: center;
}

#video{
    justify-content: center;
    position: relative;
}

#header-img {
    width: 400px;
    height: auto;
}

.main {
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    margin: 20px wheat;
    background-color: wheat;
}

.sign-up {
    font-family: Luxurious Roman, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: auto;
    padding: 10px;
    background-color: lightyellow;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
}

input[type=submit]{
    border-radius: 15pt;
    padding: 10px;
    border-style: none;
    color: #7D9417;
    width: 500px;
}

input[type=email]{
    width: 500px;
}




body {
    background-color: wheat;
}

.card{
    font-family: Luxurious Roman, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-img-top{
    height: 400px;
    object-fit: cover;
}

#newsletter{
    color: #7D9417;
}

@media (min-width: 200px) and (max-width: 990px ) {
    .sign-up{
        font-family: Luxurious Roman, monospace;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: auto;
        padding: 10px;
        background-color: brown;
        box-shadow: none;
        border-radius: 0;
    }
    input[type=email]{
        width: auto;
    }
    .topnav{
        display: flex;
        flex-direction: column;
        position: inherit;
    }
    .main{
        text-align: center;
    }
    input[type=submit]{
        border-radius: 15pt;
        padding: 10px;
        border-style: none;
        color: #7D9417;
        width: auto;
    }
}