.container{
    max-width: 100%;
}


.image{
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 20px;
}




.topnav{
    background-color: wheat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
   
    
    
    
    
}

.topnav a {
    height: 50px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Luxurious Roman;
    color: black;
    padding: 14px 16px;
    border-radius: 15px;
    justify-content: space-evenly;
}


.topnav a.active {
    background-color: white;
    color: #7D9417;
    
}


.topnav a:hover{
    background-color: brown;
    color: white;
}


#header-img{
    width: 400px;
    height: auto;
}

.header-1{
    font-family: Pacifico;
    margin: 20px;

}

.sign-up{
    font-family: Luxurious Roman;
    margin: 20px;
}




