.container {
    max-width: 100%;
    background-color: wheat;
}


.image {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: auto wheat;
    margin-top: 70px;
}

.topnav {
    background-color: wheat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.topnav a {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: Luxurious Roman;
    color: black;
    padding: 14px 16px;
    border-radius: 15px;
}

.topnav a.active {
    background-color: white;
    color: #7D9417;
}

.topnav a:hover {
    background-color: brown;
    color: white;
}

h1 {
    margin: 50px;
}

.video {
    background-color: wheat;
    flex-direction: row;
    justify-content: center;
    margin: wheat;
}

#header-img {
    width: 400px;
    height: auto;
}

.main {
    font-family: Pacifico;
    margin: 20px wheat;
    background-color: wheat;
}

.sign-up {
    font-family: Luxurious Roman;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: auto;
    padding: 10px;
    background-color: #7D9417;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
}

body {
    background-color: wheat;
}